﻿KATA: Hangman <br />
Times: <span id="times">@ViewBag.Times</span> <br />
Length: <span id="length">@ViewBag.Length</span><br />
Used: <span id="used">@ViewBag.Used</span><br />
Discovered: <span id="discovered">@ViewBag.Discovered</span><br />